<h1>In the meantime.....</h1>

<p>
	1 + 2 still equals <%= 1 +2 %>
</p>
<p>
	If you're still at your mom's house an hour from now, the time will be <%= @time %>.
</p>

<p>
   The files in the current directory are: <ul><%= @files %></ul>
</p>

<h4>
	<%= link_to("Revisit your mom", say_hello_path)%>, or say <%= link_to("goodbye", say_goodbye_path)%> to all your family....
</h4>
